In [1]:
import pandas as pd

In [36]:
dataset = pd.read_csv(r"C:\Users\user\Documents\Diagnosed-and-Death-Summary-2015_2021.csv")
display(dataset.iloc[0:1,0:8])

,Demographic Data,Year 2015,Year 2016,Year 2017,Year 2018,Year 2019,Year 2020,Year 2021
0,Total Reported Cases,7829,9264,11193,11427,12778,8058,12341

In [19]:
dataset.head()

,Demographic Data,Year 2015,Year 2016,Year 2017,Year 2018,Year 2019,Year 2020,Year 2021
0,Total Reported Cases,7829,9264,11193,11427,12778,8058,12341
1,Asymptomatic Cases,7326,8151,9688,2939,2167,1623,1902
2,AIDS Cases,503,1113,1415,-,-,-,-
3,Male,7 507,8874,10586,10828,12116,7624,11793
4,Female,322,390,517,599,662,434,548

In [20]:
dataset.tail()

,Demographic Data,Year 2015,Year 2016,Year 2017,Year 2018,Year 2019,Year 2020,Year 2021
7,15-24 y/o,2215,2625,3451,3391,3952,2241,3684
8,25-34 y/o,4130,4921,5581,5756,6354,4071,6262
9,35-49 y/o,1291,1510,1769,1991,2068,1480,2063
10,50 y/o and above,173,186,264,259,366,234,301
11,Reported Deaths,361,439,497,596,679,846,893