In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Total_Reported_Cases_form 2015-2021

In [34]:
dataset = pd.read_csv(r"C:\Users\user\Documents\HIV-AIDS Registry Reports in Philippines 2015-2021.csv")
display(dataset.iloc[0:,0:11])

,DemoGraphic Data,Total Reported Cases,Asymptomatic Cases,AIDS Cases,No. of Male,No. of Female,Less than 15 y/o,15-24 y/o,25-34 y/o,35-49 y/o,50 y/o & above
0,2015 January,536,475,65,508,28,0,131,285,100,20
1,2015 February,646,603,43,619,27,2,181,333,115,15
2,2015 March,667,643,24,643,24,3,172,373,110,9
3,2015 April,560,524,36,538,22,2,166,290,83,19
4,2015 May,748,707,37,717,31,0,207,409,121,11
...,...,...,...,...,...,...,...,...,...,...,...
87,2021 October,1136,-,175,110,50,3,339,389,190,28
88,2021 November,1268,-,195,1211,56,3,378,643,212,31
89,2021 December,993,-,143,952,41,3,306,504,156,24
90,Total of Year 2021,12341,-,1902,11793,548,30,3685,6262,2063,301
91,TOTAL OF 2015-2021,72800,-,10753,69328,3472,210,21560,37075,12172,1783

### Total Reported Deaths from 2015-2021

In [57]:
dataset = pd.read_csv(r"C:\Users\user\Documents\HIV-AIDS Registry Reports in Philippines 2015-2021.csv")
display(dataset.iloc[0:91,[1,11,12,13]])

,Total Reported Cases,Reported Deaths,No. of male Deaths,No. of Female Deaths
0,536,14,13,1
1,646,17,15,2
2,667,18,17,1
3,560,16,13,3
4,748,29,28,1
...,...,...,...,...
86,981,106,-,-
87,1136,82,-,-
88,1268,92,-,-
89,993,50,-,-
90,12341,893,-,-

### Type of Transmission

In [59]:
dataset = pd.read_csv(r"C:\Users\user\Documents\HIV-AIDS Registry Reports in Philippines 2015-2021.csv")
display(dataset.iloc[0:91,[1,14,15,16,17,18,19]])

,Total Reported Cases,Sexual Contact,Blood/Blood Products,Sharing of Needles,Needle Prick Injury,Mother-to-child,No Data Available
0,536,534,0,2,0,0,0
1,646,586,0,58,0,2,0
2,667,630,0,34,0,3,0
3,560,547,0,12,0,1,0
4,748,860,0,28,0,0,0
...,...,...,...,...,...,...,...
86,981,981,0,7,0,1,17
87,1136,1136,0,9,0,2,23
88,1268,1268,0,10,0,3,26
89,993,993,0,7,0,3,12
90,12341,12341,0,96,0,24,253

### Percentage of Diagnosed Cases by Region

In [63]:
dataset = pd.read_csv(r"C:\Users\user\Documents\Diagnosed Cases by Region (2015-2021).csv")
display (dataset)

,REGIONS,Year 2015(%),Year 2016(%),Year 2017(%),Year 2018(%),Year 2019(%),Year 2020(%),Year 2021(%)
0,NCR,15%,36%,35%,37%,33%,28%,30%
1,Region 1,2%,3%,4%,3%,3%,6%,3%
2,Region 2,1%,1%,2%,1%,2%,2%,1%
3,Region 3,10%,10%,11%,11%,11%,8%,13%
4,Region 4A,15%,18%,15%,17%,17%,13%,20%
5,Region 4B,2%,2%,1%,1%,1%,3%,1%
6,Region 5,1%,1%,3%,2%,3%,2%,2%
7,Region 6,6%,3%,7%,7%,6%,2%,8%
8,Region 7,7%,8%,7%,8%,8%,26%,7%
9,Region 8,1%,1%,2%,1%,2%,4%,1%
10,Region 9,2%,2%,1%,2%,1%,1%,2%
11,Region 10,2%,2%,3%,3%,3%,3%,3%
12,Region 11,8%,6%,4%,3%,5%,2%,4%
13,Region 12,3%,2%,2%,2%,3%,<1%,2%
14,CAR,1%,<1%,1%,1%,1%,<1%,1%
15,CARAGA,1%,2%,2%,1%,1%,<1%,2%
16,ARMM,<1%,<1%,<1%,<1%,-,-,-